/* slit the 2 div in half */
.experience_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* styling the container */
.experience_container > div{
  background: var(--color-bg-variant);
  padding:2.4rem 5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* changing color when mouse to move to the container */
.experience_container > div:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience_container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
}

.experience__details{
  display: flex;
  gap: 1rem;
}

.experience__details-icon{  
  margin-top: 6px;
  color: var(--color-primary)
}

/* MEDIA QUERIES( MEDIUM DEVICES) */
@media screen and (max-width:1024px){

.experience_container{
  grid-template-columns: 1fr;
}

.experience_container > div{
  width: 75%;
  padding: 2rem;
  margin: 0 auto;
}

.experience__content{
  padding: 1rem;
}
}

/* MEDIA QUERIES( SMALL DEVICES) */
@media screen and (max-width:600px){
#experience{
  margin-top: 100vh;
}

.experience_container{
  gap: 1rem;   
}

.experience_container > div{
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}
}